@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
     <link rel="preconnect" href="https://fonts.googleapis.com" />
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
            <link
                href="https://fonts.googleapis.com/css2?family=Alexandria:wght@200;300;400;600&family=Ubuntu:wght@500&display=swap"
                rel="stylesheet"
            />
            <link rel="preconnect" href="https://fonts.googleapis.com" />
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
            <link
                href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
                rel="stylesheet"
            />
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"/>
      @* https://davidsekar.com/aspnetcore/dealing-with-hashed-filenames *@
      <link rel="stylesheet" asp-href-include="/static/css/main.*.css"/>
      <script defer  asp-src-include="/static/js/main.*.js"></script>
</head>
<body>
  
            @RenderBody()
     
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
