@import "utilities";


.media-viewer-modal {

    width: 100% !important;
    max-width: 100%;
    top: 0;
    margin: 0 !important;
    .ant-modal-content {
        height: 100%;
        padding: 0 !important;

    }
    .ant-modal-body {
        background: #3E4041;
        padding: 30px !important;
        height: 100vh !important;
        overflow-y: hidden;
        display:flex;
        flex-direction: row;
        @include max-media(md)
        {
            flex-direction: column-reverse;
        }
        gap:30px;

    }

    .viewer-pane {
        height: 100%;
        flex: 1;
    }
    .vertical-media-viewer-carousel {
        display:flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid #B1B5B9;
        .wrapper-with-fixed-height {
            flex: 1;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            .list {
                transition: transform 0.3s ease-out;
                flex-direction: column;
                display: flex;


                .item {
                    cursor: pointer;

                    box-sizing: content-box;
                    padding: 20px;
                    height: 100px;
                    width: 100px;
                    img {

                        border-radius: 5px;
                    }
                }
                .item:not(:last-child) {

                }
            }
        }

    }
    .horizontal-media-viewer-carousel {
        display:flex;
        align-items: center;
        border-top: 1px solid #B1B5B9;
        border-bottom: 1px solid #B1B5B9;
        .wrapper-with-fixed-height {
            flex: 1;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            .list {
                transition: transform 0.3s ease-out;
                display: flex;


                .item {
                    cursor: pointer;
                    box-sizing: content-box;
                    padding: 20px;
                    height: 100px;
                    width: 100px;
                    flex-shrink: 0;
                    img {

                        border-radius: 5px;
                    }
                }
                .item:not(:last-child) {

                }
            }
        }

    }

}

$call-modal-height: 600px;
.call-modal {
    .ant-modal-content {
        height: 100%;
        padding: 0 !important;

    }
    .client {
        width: clamp(200px, 30vw, 300px);
    }
    .remote {
        .video-overlay {
            background: rgba(0, 0, 0, 0.94);
            height: 100%;
        }
        .test {
            gap: clamp(5px, 5vw, 15px);
        }
    }
}
.story-upload-modal {
    .ant-modal-body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
.avatar-upload-modal {
    .ant-modal-body {
        height: clamp(300px, 50vh, 500px);
    }
}